@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  font-size: calc(1rem + 0.3vw);
  color: white !important;
}

.page {
  height: 100vh !important;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

body {
  background-color: rgb(28, 30, 47);
  min-width: 250px !important;
  overflow-x: auto;
}

.form-input {
  border: 2px solid white;
  background-color: transparent;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 100%;
  transition: outline 0.3s ease;
}

.form-input:focus {
  outline: 3px solid #0d6dfd91;
  border: none;
}

.recap-list {
  padding: 0 !important;
}

.recap-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.mail-link {
  color: #0d6efd !important;
  border: none !important;
}

.underline {
  padding-bottom: 0.1rem;
  text-decoration: none;
  border-bottom: 1px solid;
}

.mail-link:hover {
  border-bottom: 1px solid #0d6efd !important;
}
